.container{
    width: 1050px;
    height: 610px;
    border-radius: 52px;
    display: grid;
    grid-template-columns: 60% 5%;
    align-items: center;
    justify-content: center;
    background-color: #006A8F;
}

.container app-info{
    margin-right: 5rem;
}

.title{
    margin-left: 100%;
    font-family: Rubik;
    color: #FFF;
    font-style: italic;
    text-align: center;
}