body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 95vh;
    margin-top: 10px;
}

.container{
    width: 1050px;
    height: 610px;
    border-radius: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006A8F;
}